{% extends "masterPage.html" %}
{% block contentHead %}
    Add Student
{% endblock %}
{% block contentBody %}
    <div class="row" style="background-color: mintcream">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3> Course Enrollment </h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-success">Save</button>
                <br>
                <br>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>


{% endblock %}